fastapi==0.115.12
uvicorn==0.34.0
python-multipart==0.0.20
python-dotenv==1.1.0
groq==0.28.0
openai==1.82.1
opencv-python-headless==4.11.0.86
pillow==11.2.1
pandas==2.2.3
requests==2.32.3
beautifulsoup4==4.13.4
lxml==5.3.2
aiofiles==24.1.0
rapidfuzz==3.10.1
